# import

In [330]:
import pandas as pd
import gspread
from google.oauth2.service_account import Credentials
import awswrangler  as wr
import json
import boto3
from io import BytesIO
import numpy as np 
# data-parse@evident-display-364004.iam.gserviceaccount.com
!pip install gspread

credential_json = {
  "type": "service_account",
  "project_id": "evident-display-364004",
  "private_key_id": "b8b16e6042f500f944050246229abf14a061cb17",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCuU7B4y9LwaU/4\neNd29E5HXQr4J2GuLGTtVDV5ZeRqJABT8lMHUJQ+190wDlAbVtdaHcYqv+0teiDS\n37EeiHZIIYwyzKhh9F0H0EthLECBycROaP+GklaZIvqC7XbQ6W6w0oEnfb7Knw9c\niavaKf4rxZkmzOvAOLhvKTIz7VQaSK0SVsrkIqA97UqlVjd0GngL8zLkdIDSAB3m\nJ+9VyBHdJhNUqykPwxdfi2U6RtQJoyuYvdwyMUE3uRSTCa9Gd6CuhljMSRnmLRmV\n4z8DucvhnflMYr5XSyos9CK50sDgL0d0TSjZZNIhmlt+dNjmNZZrQiZqaQHM7GY0\n3Znd4TaHAgMBAAECggEAOSSYu7gAYKr8ulOOOWFyyWS/5EEwfUHzIXKRhsY2He7I\nJrxPqB2rQoBK8mY2rweD1vfcjgXUrqwSV11Y90u/DfzlMn+wkE9kMVv/YY56ZLDp\nRtSXMhsFBPSYzlMdt/RUwuR1zqai5FNIW0qLiRtrxBhlD/lrK9rL5jBIUwowH975\nUFPdw2TmY2N7cKB8deaqXTo5uTOztCtjM2Rwx32XNdsCwdIgKXIM4sU/jNCoa59F\nP+xotd9dpy9DiR0jo1Th2bAao52JhBfbIcMksgE61Ms4KLKMV603JDDg8ob6DKUZ\nSH95NwKXvzyJyRz2Wmk/OF0kSP9ETrsLG/O3B5hGdQKBgQDVAojPIlcNS69ax2hy\npI0yTyuobXB5knE4opWnMLHlpnSIr60Go72Bkt4dFS107HXI9DTEQjrSD1hpjHbG\nKgmDb4slpTqp2bZch7bmPrXLnmoQDKnPRqq8FwRVQf3P5O7HicEPl8+t0uAbKtrT\nATy7o8JPGfCBqmWYmd9mr+zUKwKBgQDRgorNVR5/sQFxqwJ8Id1ik7m2UCyZifb+\nx7nFifZ73w4++0hjMbeJ9Nu6rOMcsvGc4JBa6WPB6x709tLrAxna71Gdm4ow2Neh\nXA6uQhBtFddieOh2iXkW21MGcV4vTeFjOD2trbeAIKd+gYgSKgWmzCR/excPaLq/\n9f2lYRjtFQKBgFRX4pASCuIq285YMxVh7r7C9oiEfQrGX6qLRjKjZ22FkZMl7J86\naqlJ3EUrw4oOrzzY5aPojZ3rkZiJk+Y3cvjmS/SmDip/GGRfIJ7eqeFsYpbkTMDU\nPHqpqn+P185f2eSMuTNRa1xqqW5Yc7klPkUWPLRRkxfkvsHD+9+PPXltAoGAT0zg\nCNRdFOwEpeeaqy2ORE+yDYXPO9ZyvQEQGescdsp48/Hc9l7NH9SkjsX9uNEqjryZ\nJzAL6Ex8jTAXqYik8q9+7u7+oXqSM6tKiz7KRN/thIJLSwLB6JrflCK5CaKq2wlg\nnyqPuFmjzEhvHqD1PqsqbW5DzjtP5HTRqxVTf/kCgYAVS903D9Bb4xStjDmO5s79\n9MuZx5knPxK9prdf7DuEzU8Or0mn0OWPBQv2bG2Awd9gO47xKjFp3m7Ac1G3ZiAg\nE1kWMqA3SpdFvxn+dV20r96SQzZRcTkGI06swM2jkPAR2U1n+zEkObj4ib9G2OXl\nWb0VBX0aNYCs7iM3iVZn4g==\n-----END PRIVATE KEY-----\n",
  "client_email": "data-parse@evident-display-364004.iam.gserviceaccount.com",
  "client_id": "102592330267229412304",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/data-parse%40evident-display-364004.iam.gserviceaccount.com"
}

Requirement already satisfied: gspread in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (5.10.0)
Requirement already satisfied: google-auth>=1.12.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from gspread) (2.22.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from gspread) (1.0.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from google-auth>=1.12.0->gspread) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from google-auth>=1.12.0->gspread) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from google-auth>=1.12.0->gspread) (4.9)
Requirement already satisfied: six>=1.9.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from google-auth>=1.12.0->gspread) (1.16.0)
Requirement already satisfied: urllib3<2.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from google-auth>=1.12.0->gspread) (1.26.15)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.1)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.30.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2023.5.7)

[notice] A new release of pip is available: 23.2 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

## define function

In [331]:
def read_spreadsheet(sample_spreadsheet_id, tab_index):
    
    gc = gspread.service_account_from_dict(credential_json)
    
    gc = gc.open_by_key(sample_spreadsheet_id)
    
    values = gc.get_worksheet(tab_index).get_all_values()
    
    df = pd.DataFrame(values)
    df.columns = df.iloc[0]
    df.drop(df.index[0], inplace=True)         

    return df

# road_data

## df_raw preprocessing

In [332]:
df_raw = read_spreadsheet('14Igdf92cpKMJdh5CWvrdbZ7NnQXlNrOTWUHWe6jGdpE', 0)

In [333]:
df_raw.head()

,관리코드,관리계정명,레벨,집계,Source,상세설명,2021-09-01,2021-10-01,2021-11-01,2021-12-01,...,2022-09-01,2022-10-01,2022-11-01,2022-12-01,2023-01-01,2023-02-01,2023-03-01,2023-04-01,2023-05-01,2023-06-01
1,,영업수익,1,Y,,,0,4989000,9445709,18581447,...,86584011,100864278,149126560,159944355,151050718,241421917,265511377,229693788,217520293,245532227
2,E1,커머스판매수수료,3,Y,GL,,0,0,0,650156,...,1124284,5424523,22884452,36049264,9198145,1433735,470104,932152,792657,359999
3,,쿠팡파트너스,4,Y,GL,,0,0,0,650156,...,1124284,5154523,18204452,11719264,3888145,643735,370104,733187,679145,267907
4,E101,쿠팡파트너스-세금계산서,10,,GL,익월 25일에 실적 확정. 월별 매출은 세금계산서 발행 기준으로 전월 실적임.,0,0,0,650156,...,1124284,5154523,18204452,11719264,3888145,643735,370104,733187,679145,267907
5,E102,쿠팡파트너스-Accrual-전월확정,10,,GL,당월 실적을 익월 25일에 확정 -> 결산시점에 확인된 당월실적을 기준으로 회계처리...,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### wide -> tall

In [334]:
# make wide table to tall 
# Reshaping the data from wide to long format using melt function
long_data = df_raw.melt(id_vars=df_raw.columns[:6], var_name='Month', value_name='Value')

long_data_agg = long_data[long_data['집계'] == 'Y' ]
long_data = long_data[long_data['레벨']== '10' ]

# Display the first few rows of the reshaped data
long_data.head()

,관리코드,관리계정명,레벨,집계,Source,상세설명,Month,Value
3,E101,쿠팡파트너스-세금계산서,10,,GL,익월 25일에 실적 확정. 월별 매출은 세금계산서 발행 기준으로 전월 실적임.,2021-09-01,0
4,E102,쿠팡파트너스-Accrual-전월확정,10,,GL,당월 실적을 익월 25일에 확정 -> 결산시점에 확인된 당월실적을 기준으로 회계처리...,2021-09-01,0
5,E103,쿠팡파트너스-Accrual-당월,10,,GL,,2021-09-01,0
7,E104,링크프라이스-세금계산서,10,,GL,익익월 6일에 실적 확정. 월별 매출은 세금계산서 발행 기준으로 전전월 실적임.,2021-09-01,0
8,E105,링크프라이스-Accrual-전월확정,10,,GL,당월 실적을 익익월 6일에 확정 -> 결산시점에 확인된 당월실적을 기준으로 회계처리...,2021-09-01,0

In [335]:
long_data_agg

       관리코드     관리계정명 레벨 집계 Source 상세설명       Month      Value
0                영업수익  1  Y              2021-09-01          0
1        E1  커머스판매수수료  3  Y     GL       2021-09-01          0
2              쿠팡파트너스  4  Y     GL       2021-09-01          0
6              링크프라이스  4  Y     GL       2021-09-01          0
10    E1013   기타 제휴채널  4  Y              2021-09-01          0
...     ...       ... .. ..    ...  ...         ...        ...
4073     D1     영업외수익  1  Y              2023-06-01    8583650
4079     D2     영업외비용  1  Y              2023-06-01          1
4081             세전이익  0  Y              2023-06-01  -42758462
4082   D301       법인세  1  Y     PL       2023-06-01          0
4083            당기순이익  0  Y              2023-06-01  -42758462

[1078 rows x 8 columns]

In [336]:
long_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2882 entries, 3 to 4080
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   관리코드    2882 non-null   object
 1   관리계정명   2882 non-null   object
 2   레벨      2882 non-null   object
 3   집계      2882 non-null   object
 4   Source  2882 non-null   object
 5   상세설명    2882 non-null   object
 6   Month   2882 non-null   object
 7   Value   2882 non-null   object
dtypes: object(8)
memory usage: 202.6+ KB

In [337]:
long_data_agg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1078 entries, 0 to 4083
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   관리코드    1078 non-null   object
 1   관리계정명   1078 non-null   object
 2   레벨      1078 non-null   object
 3   집계      1078 non-null   object
 4   Source  1078 non-null   object
 5   상세설명    1078 non-null   object
 6   Month   1078 non-null   object
 7   Value   1078 non-null   object
dtypes: object(8)
memory usage: 75.8+ KB

In [338]:
long_data['Value'] = long_data['Value'].astype(float)
long_data['Month'] = pd.to_datetime(long_data['Month'], format='%Y-%m-%d')

long_data_agg['Value'] = long_data_agg['Value'].astype(float)
long_data_agg['Month'] = pd.to_datetime(long_data_agg['Month'], format='%Y-%m-%d')

In [339]:
long_data.groupby(['Month'])['Value'].sum()

Month
2021-09-01     17041894.0
2021-10-01     22534215.0
2021-11-01     51832004.0
2021-12-01     62199193.0
2022-01-01     50861586.0
2022-02-01     56374858.0
2022-03-01     96404640.0
2022-04-01     90743839.0
2022-05-01     92887534.0
2022-06-01    114954176.0
2022-07-01    129222513.0
2022-08-01    192050617.0
2022-09-01    183391861.0
2022-10-01    287183972.0
2022-11-01    284542159.0
2022-12-01    337095938.0
2023-01-01    293782580.0
2023-02-01    472623527.0
2023-03-01    528757715.0
2023-04-01    508928558.0
2023-05-01    522447657.0
2023-06-01    550990216.0
Name: Value, dtype: float64

## df_map preprocessing

In [340]:
df_map = read_spreadsheet('14Igdf92cpKMJdh5CWvrdbZ7NnQXlNrOTWUHWe6jGdpE', 1)

In [341]:
df_map.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872 entries, 1 to 872
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   관리코드         872 non-null    object
 1   관리계정명        872 non-null    object
 2   Source       872 non-null    object
 3   상세설명         872 non-null    object
 4   count 관리코드   872 non-null    object
 5   name_5_raw   872 non-null    object
 6   name_4_raw   872 non-null    object
 7   name_3_raw   872 non-null    object
 8   name_2_raw   872 non-null    object
 9   name_1_raw   872 non-null    object
 10  code         872 non-null    object
 11  name_10      872 non-null    object
 12  description  872 non-null    object
 13  name_5       872 non-null    object
 14  name_4       872 non-null    object
 15  name_3       872 non-null    object
 16  name_2       872 non-null    object
 17  name_1       872 non-null    object
 18  is_plus      872 non-null    object
 19  lv           872 non-null    object
dtypes: object(20)
memory usage: 136.4+ KB

In [342]:
df_map.columns

Index(['관리코드', '관리계정명', 'Source', '상세설명', 'count 관리코드', 'name_5_raw',
       'name_4_raw', 'name_3_raw', 'name_2_raw', 'name_1_raw', 'code',
       'name_10', 'description', 'name_5', 'name_4', 'name_3', 'name_2',
       'name_1', 'is_plus', 'lv'],
      dtype='object', name=0)

# join raw <- map

In [343]:
merged_data = long_data.drop(columns=['관리계정명','상세설명','Source'])\
    .merge(df_map.drop(columns=['count 관리코드']), how='left', left_on='관리코드', right_on='관리코드')

In [344]:
# merged_data = merged_data.rename ( columns = {'count 관리코드': 'count_관리코드'}, inplace = True)

In [345]:
merged_data.replace('', np.nan, inplace=True)

In [346]:
merged_data.head()

,관리코드,레벨,집계,Month,Value,관리계정명,Source,상세설명,name_5_raw,name_4_raw,...,code,name_10,description,name_5,name_4,name_3,name_2,name_1,is_plus,lv
0,E101,10,NaN,2021-09-01,0.0,쿠팡파트너스-세금계산서,GL,익월 25일에 실적 확정. 월별 매출은 세금계산서 발행 기준으로 전월 실적임.,NaN,쿠팡파트너스,...,E101,쿠팡파트너스-세금계산서,GL,쿠팡파트너스,쿠팡파트너스,커머스판매수수료,영업수익,1.영업수익,1,4
1,E102,10,NaN,2021-09-01,0.0,쿠팡파트너스-Accrual-전월확정,GL,당월 실적을 익월 25일에 확정 -> 결산시점에 확인된 당월실적을 기준으로 회계처리...,NaN,쿠팡파트너스,...,E102,쿠팡파트너스-Accrual-전월확정,GL,쿠팡파트너스,쿠팡파트너스,커머스판매수수료,영업수익,1.영업수익,1,4
2,E103,10,NaN,2021-09-01,0.0,쿠팡파트너스-Accrual-당월,GL,NaN,NaN,쿠팡파트너스,...,E103,쿠팡파트너스-Accrual-당월,GL,쿠팡파트너스,쿠팡파트너스,커머스판매수수료,영업수익,1.영업수익,1,4
3,E104,10,NaN,2021-09-01,0.0,링크프라이스-세금계산서,GL,익익월 6일에 실적 확정. 월별 매출은 세금계산서 발행 기준으로 전전월 실적임.,NaN,링크프라이스,...,E104,링크프라이스-세금계산서,GL,링크프라이스,링크프라이스,커머스판매수수료,영업수익,1.영업수익,1,4
4,E105,10,NaN,2021-09-01,0.0,링크프라이스-Accrual-전월확정,GL,당월 실적을 익익월 6일에 확정 -> 결산시점에 확인된 당월실적을 기준으로 회계처리...,NaN,링크프라이스,...,E105,링크프라이스-Accrual-전월확정,GL,링크프라이스,링크프라이스,커머스판매수수료,영업수익,1.영업수익,1,4

In [347]:
merged_data.columns

Index(['관리코드', '레벨', '집계', 'Month', 'Value', '관리계정명', 'Source', '상세설명',
       'name_5_raw', 'name_4_raw', 'name_3_raw', 'name_2_raw', 'name_1_raw',
       'code', 'name_10', 'description', 'name_5', 'name_4', 'name_3',
       'name_2', 'name_1', 'is_plus', 'lv'],
      dtype='object')

In [348]:
long_data_agg.columns

Index(['관리코드', '관리계정명', '레벨', '집계', 'Source', '상세설명', 'Month', 'Value'], dtype='object')

# kr -> en

In [349]:
merged_data.rename(columns={'관리코드': 'manage_code', '레벨':'manage_lv', '집계': 'agg', '관리계정명':'manage_account','상세설명':'details'}, inplace=True)

In [350]:
long_data_agg.rename(columns={'관리코드': 'manage_code', '레벨':'manage_lv', '집계': 'agg', '관리계정명':'manage_account','상세설명':'details'}, inplace=True)

In [351]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2882 entries, 0 to 2881
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   manage_code     2882 non-null   object
 1   manage_lv       2882 non-null   object
 2   agg             44 non-null     object
 3   Month           2882 non-null   datetime64[ns]
 4   Value           2882 non-null   float64
 5   manage_account  2860 non-null   object
 6   Source          2860 non-null   object
 7   details         1980 non-null   object
 8   name_5_raw      0 non-null      float64
 9   name_4_raw      1518 non-null   object
 10  name_3_raw      2750 non-null   object
 11  name_2_raw      2750 non-null   object
 12  name_1_raw      2882 non-null   object
 13  code            2882 non-null   object
 14  name_10         2860 non-null   object
 15  description     2860 non-null   object
 16  name_5          2882 non-null   object
 17  name_4          2882 non-null   object
 18  name_3          2882 non-null   object
 19  name_2          2882 non-null   object
 20  name_1          2882 non-null   object
 21  is_plus         2882 non-null   object
 22  lv              2882 non-null   object
dtypes: datetime64[ns](1), float64(2), object(20)
memory usage: 540.4+ KB

In [352]:
merged_data['name_5_raw'] = merged_data['name_5_raw'].astype(object)

In [353]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2882 entries, 0 to 2881
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   manage_code     2882 non-null   object
 1   manage_lv       2882 non-null   object
 2   agg             44 non-null     object
 3   Month           2882 non-null   datetime64[ns]
 4   Value           2882 non-null   float64
 5   manage_account  2860 non-null   object
 6   Source          2860 non-null   object
 7   details         1980 non-null   object
 8   name_5_raw      0 non-null      object
 9   name_4_raw      1518 non-null   object
 10  name_3_raw      2750 non-null   object
 11  name_2_raw      2750 non-null   object
 12  name_1_raw      2882 non-null   object
 13  code            2882 non-null   object
 14  name_10         2860 non-null   object
 15  description     2860 non-null   object
 16  name_5          2882 non-null   object
 17  name_4          2882 non-null   object
 18  name_3          2882 non-null   object
 19  name_2          2882 non-null   object
 20  name_1          2882 non-null   object
 21  is_plus         2882 non-null   object
 22  lv              2882 non-null   object
dtypes: datetime64[ns](1), float64(1), object(21)
memory usage: 540.4+ KB

In [354]:
merged_data.columns

Index(['manage_code', 'manage_lv', 'agg', 'Month', 'Value', 'manage_account',
       'Source', 'details', 'name_5_raw', 'name_4_raw', 'name_3_raw',
       'name_2_raw', 'name_1_raw', 'code', 'name_10', 'description', 'name_5',
       'name_4', 'name_3', 'name_2', 'name_1', 'is_plus', 'lv'],
      dtype='object')

In [355]:
merged_data.drop(columns=['name_5_raw','name_4_raw','name_3_raw','name_2_raw','name_1_raw'],inplace=True)

In [356]:
long_data_agg

,manage_code,manage_account,manage_lv,agg,Source,details,Month,Value
0,,영업수익,1,Y,,,2021-09-01,0.0
1,E1,커머스판매수수료,3,Y,GL,,2021-09-01,0.0
2,,쿠팡파트너스,4,Y,GL,,2021-09-01,0.0
6,,링크프라이스,4,Y,GL,,2021-09-01,0.0
10,E1013,기타 제휴채널,4,Y,,,2021-09-01,0.0
...,...,...,...,...,...,...,...,...
4073,D1,영업외수익,1,Y,,,2023-06-01,8583650.0
4079,D2,영업외비용,1,Y,,,2023-06-01,1.0
4081,,세전이익,0,Y,,,2023-06-01,-42758462.0
4082,D301,법인세,1,Y,PL,,2023-06-01,0.0
4083,,당기순이익,0,Y,,,2023-06-01,-42758462.0

In [357]:
# long_data_agg.drop(columns=['name_5_raw','name_4_raw','name_3_raw','name_2_raw','name_1_raw'],inplace=True)

In [358]:
# df = wr.athena.read_sql_query(sql=sql_query, database="moyo_logs")
bucket = 'moyo-mart'
table_name = 'finance_raw_v1'
res = wr.s3.to_parquet(
    df=merged_data,
    path=f"s3://{bucket}/{table_name}/",
    dataset=True,
    database="moyo_mart",
    table=table_name,
    mode="overwrite",
    # partition_cols=['date_ym']
            # partition_cols 는 마지막 칼럼만 사용 가능
)

In [359]:
# df = wr.athena.read_sql_query(sql=sql_query, database="moyo_logs")
bucket = 'moyo-mart'
table_name = 'finance_agg_v1'
res = wr.s3.to_parquet(
    df=long_data_agg,
    path=f"s3://{bucket}/{table_name}/",
    dataset=True,
    database="moyo_mart",
    table=table_name,
    mode="overwrite",
    # partition_cols=['date_ym']
            # partition_cols 는 마지막 칼럼만 사용 가능
)